body {
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
}
.shadow-0 {
	box-shadow: none !important;
}

.bg-0 {
	background-color: none;
}
.c-tigrowWhite {
	color: #ffffff;
}
.bg-tigrowLightBlue {
	background-color: #0fa3a3;
}
.bg-tigrowLightestBlue {
	background-color: #6ed8d844;
}
.bg-tigrowLightGray-1 {
	background-color: #f5f6fa;
}
.bg-tigrowDarkBlue {
	background-color: #10496e;
}
.bg-tigrow {
	background-color: #f5f6fa;
}

.b--lightBlue {
	border-color: #0fa3a3;
}

.b--tigrowLightGray-1 {
	border-color: #d8d8d8;
}

.tigrow-lightBlue {
	color: #0fa3a3;
}
.tigrow-lightGray-1 {
	color: #1b1b1b;
}

.tigrow-lightGray-2 {
	color: #484848;
}
.tigrow-lightGray-3 {
	color: #333334;
}
.outline-0 {
	outline: none;
}
a:hover {
	text-decoration: none;
}

.w-2 {
	width: 2%;
}
.w-15 {
	width: 15%;
}
.w-85 {
	width: 85%;
}

.lh-2 {
	line-height: 2rem;
}

.t-100-a {
	transition: all 1s;
	-webkit-transition: all 1s;
}
.t-50-a {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.t-25-a {
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}
.left--12 {
	left: -12px;
}
.w6 {
	width: 6rem;
}
.w11 {
	width: 11rem;
}
.pl6 {
	padding-left: 6rem;
}
.pl11 {
	padding-left: 11rem;
}
.w2tigrow {
	width: 3rem;
}

@media only screen and (min-width: 30em) {
	.w-15-ns {
		width: 15%;
	}
	.w-85-ns {
		width: 85%;
	}
	.w6-ns {
		width: 6rem;
	}
	.w11-ns {
		width: 11rem;
	}
	.pl6-ns {
		padding-left: 6rem;
	}
	.pl11-ns {
		padding-left: 11rem;
	}
	.w2tigrow-ns {
		width: 3rem;
	}
}
@media only screen and (min-width: 30em) and (max-width: 60em) {
	.w-15-m {
		width: 15%;
	}
	.w-85-m {
		width: 85%;
	}
	.w6-m {
		width: 6rem;
	}
	.w11-m {
		width: 11rem;
	}
	.pl6-m {
		padding-left: 6rem;
	}
	.pl11-m {
		padding-left: 11rem;
	}
	.w2tigrow-m {
		width: 3rem;
	}
}
@media only screen and (min-width: 60em) {
	.w-15-l {
		width: 15%;
	}
	.w-85-l {
		width: 85%;
	}
	.w6-l {
		width: 6rem;
	}
	.w11-l {
		width: 11rem;
	}
	.pl6-l {
		padding-left: 6rem;
	}
	.pl11-l {
		padding-left: 11rem;
	}
	.w2tigrow-l {
		width: 3rem;
	}
}
